<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mission7</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>

    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col navbar-brand">Online Bookstore</div>
                <div class="col-6 text-right">
                    <vc:cart-summary />
                </div>
            </div>
        </div>
    </div>

    <!--<div class="bg-dark text-light p-2">
        <span class="navbar-brand m-lg-2">Online Bookstore</span>
    </div> -->

    <div class="row m-1 p-1">

        <div id="types" class="col-4">
            <vc:types></vc:types>
        </div>

        <div class="col-8">
            <div>
                @RenderBody()
            </div>
        </div>

    </div>

</body>
</html>
